apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "gungnir-operator.fullname" . }}
  namespace: {{ include "gungnir-operator.namespace" . }}
  labels:
    {{- include "gungnir-operator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "gungnir-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "gungnir-operator.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "gungnir-operator.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      terminationGracePeriodSeconds: 30
      containers:
        - name: operator
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            {{- if .Values.operator.watchNamespace }}
            - --namespace
            - {{ .Values.operator.watchNamespace | quote }}
            {{- end }}
            {{- if .Values.leaderElection.enabled }}
            - --lease-name
            - {{ .Values.leaderElection.leaseName | quote }}
            - --lease-namespace
            - {{ include "gungnir-operator.namespace" . | quote }}
            {{- end }}
            - --ping-interval
            - {{ .Values.operator.pingIntervalMs | quote }}
            - --reconcile-interval
            - {{ .Values.operator.reconcileIntervalMs | quote }}
            - --down-after
            - {{ .Values.operator.downAfterMs | quote }}
            {{- if ge (int .Values.operator.verbosity) 2 }}
            - --verbose
            {{- end }}
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
